### Basic of Python

In [4]:
2 + 2

4

In [5]:
2 * 2

4

In [6]:
5 / 2

2.5

In [7]:
6 - 3

3

In [8]:
print("Hello  World!")

Hello  World!

In [9]:
list1 = list()
list1.extend(["Gowtham","AIML",73772218117,8.53])
list1

['Gowtham', 'AIML', 73772218117, 8.53]

### Numpy

In [10]:
import numpy as np

In [11]:
np.sqrt(9)

3.0

### Descriptive statistics
### Measure of central tendency - mean / avera
### Measure of dispertion - median
### Skewness - mode
### Kurtosis

#### Pandas to read data

used to import , export , data analysis , data managenent , data clean

path defining method for an file \\\\ , r'/' , r'\\'

In [10]:
import pandas as pd

Reading file

In [15]:
store = pd.read_csv("C:\\Users\\user\\Downloads\\ad_data.csv")
store = pd.read_csv(r"C:\Users\user\Downloads\ad_data.csv")
store = pd.read_csv(r"C:/Users/user/Downloads/ad_data.csv")

Output file

head() used to show first five entries
tail() used to show last five entries

In [21]:
print(store)

      Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
0       9261  CA-2017-167976  11-11-2017  11/14/2017    Second Class
1       6990  CA-2017-165099  12-11-2017  12/13/2017     First Class
2       4324  US-2015-147662   2/14/2015   2/19/2015  Standard Class
3       3563  CA-2017-109757  09-04-2017  09-09-2017    Second Class
4       9922  CA-2014-111360  11/24/2014  11/30/2014  Standard Class
...      ...             ...         ...         ...             ...
9689    3348  CA-2015-112014   8/13/2015   8/20/2015  Standard Class
9690    8088  CA-2016-106621   9/29/2016  10-01-2016    Second Class
9691    4823  CA-2016-134222  07-10-2016  07-11-2016        Same Day
9692    7280  CA-2016-108224   5/14/2016   5/14/2016        Same Day
9693    7282  CA-2017-159282  10/16/2017  10/21/2017  Standard Class

     Customer ID    Customer Name      Segment        Country      City  ...  \
0       JL-15505  Jeremy Lonsdale     Consumer  United States  Aberdeen  ...
1       DK-13375      Dennis Kane     Consumer  United States   Abilene  ...
2       KB-16315       Karl Braun     Consumer  United States     Akron  ...
3       MD-17350    Maribeth Dona     Consumer  United States     Akron  ...
4       AT-10435      Alyssa Tate  Home Office  United States     Akron  ...
...          ...              ...          ...            ...       ...  ...
9689    ON-18715    Odella Nelson    Corporate  United States   Yucaipa  ...
9690    DM-12955     Dario Medina    Corporate  United States      Yuma  ...
9691    NZ-18565    Nick Zandusky  Home Office  United States      Yuma  ...
9692    TH-21235    Tiffany House    Corporate  United States      Yuma  ...
9693    GH-14410      Gary Hansen  Home Office  United States      Yuma  ...

             Category  Sub-Category  \
0     Office Supplies      Supplies
1     Office Supplies    Appliances
2     Office Supplies       Binders
3     Office Supplies       Binders
4     Office Supplies       Binders
...               ...           ...
9689  Office Supplies           Art
9690  Office Supplies           Art
9691  Office Supplies       Binders
9692       Technology   Accessories
9693       Technology      Machines

                                           Product Name    Sales Quantity  \
0                         Acme Titanium Bonded Scissors   25.500        3
1          Hoover Commercial Lightweight Upright Vacuum    1.392        2
2                             Acco Hanging Data Binders    2.286        2
3                       Wilson Jones Active Use Binders    4.368        2
4                       Acco Expandable Hanging Binders    5.742        3
...                                                 ...      ...      ...
9689                            50 Colored Long Pencils   50.800        5
9690                                         Newell 351   10.496        4
9691                   GBC Standard Therm-A-Bind Covers   44.856        6
9692  Imation 16GB Mini TravelDrive USB 2.0 Flash Drive  185.528        7
9693       Swingline SM12-08 MicroCut Jam Free Shredder  599.985        5

     Discount    Profit     TV   Radio  Newspaper
0         0.0    6.6300   12.8    51.0       51.0
1         0.8   -3.7584    0.7     2.8        2.8
2         0.7   -1.6764    1.1     4.6        4.6
3         0.7   -3.0576    2.2     8.7        8.7
4         0.7   -4.5936    2.9    11.5       11.5
...       ...       ...    ...     ...        ...
9689      0.0   13.2080   25.4   101.6      101.6
9690      0.2    1.1808    5.2    21.0       21.0
9691      0.7  -35.8848   22.4    89.7       89.7
9692      0.2   48.7011   92.8   371.1      371.1
9693      0.7 -479.9880  300.0  1200.0     1200.0

[9694 rows x 24 columns]

It shows column name in a table

In [26]:
store.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit', 'TV',
       'Radio', 'Newspaper'],
      dtype='object')

used to show stastical data for all numeric column

In [28]:
store.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit,TV,Radio,Newspaper
count,9694.000000,9694.000000,9694.000000,9694.000000,9694.000000,9694.000000,9694.000000,9694.000000,9694.000000
mean,4993.926140,55190.491025,234.418182,3.790902,0.155167,29.178642,117.215504,468.836703,468.836703
std,2885.273358,32050.129070,631.789011,2.227335,0.204867,237.716782,315.895435,1263.578349,1263.578349
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000,0.200000,0.900000,0.900000
25%,2496.250000,23223.000000,17.480000,2.000000,0.000000,1.735200,8.700000,35.000000,35.000000
50%,4992.500000,56301.000000,55.928000,3.000000,0.200000,8.730750,28.000000,111.850000,111.850000
75%,7489.750000,90008.000000,214.850000,5.000000,0.200000,30.009300,107.475000,429.700000,429.700000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000,11319.200000,45277.000000,45277.000000

fillna used to fill to blanks
dropna used to drop the column which contains NA

In [ ]:
store = pd.read_csv("C:\\Users\\user\\Downloads\\ad_data (1).csv")
store['price']

In [17]:
store['price'].dropna()

0       50.0
1       31.0
2       95.0
5       81.0
6       52.0
        ...
9689    90.0
9690    26.0
9691    80.0
9692    16.0
9693    75.0
Name: price, Length: 9690, dtype: float64

In [3]:
#condition statement

salary = int(input("Enter Your Values"))

if salary  > 5000 :
    print("Good Salary")
else:
    print("Below Average Salary")

Below Average Salary

In [4]:
salary

5000

In [6]:
signal = input().lower()

if signal == 'red':
    print("Stop")
elif signal == 'green':
    print("Go")
elif signal == 'yellow':
    print('Ready')
else:
    print()

Stop

In [7]:
for i in range(0,12):
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [11]:
for i in range(2,100,2):
    print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

##### ML steps

1. Data Collection     ( primary data )   ( secondary / historical data )
2. Data Cleansing      ( format , clean )
3. Feature Selection / ( Descriptive Statistic )
4. Variable Selection
5. Fit the ML Model
6. Model Result Validation

In [20]:
import pandas as pd

store = pd.read_csv("C:\\Users\\user\\Downloads\\ad_data (1).csv")

selected_columns = store[['Sales', 'Quantity', 'Radio']]
print(selected_columns)

      Sales  Quantity     Radio
0  1.000000       NaN       NaN
1  0.202009  1.000000       NaN
2 -0.025969  0.004706       NaN
3  0.479158  0.066830       NaN
4  1.000000  0.202009       NaN
5  1.000000  0.202007  1.000000
6  1.000000  0.202007  1.000000
7  0.002346 -0.000677  0.004462

In [32]:
# auto - status = add new column(mpg + cylinder)
store = pd.read_csv(r"C:\Users\user\Downloads\Auto.csv")
store['auto_status'] = store['mpg'] + store['cylinders']
# store['auto_status']
store

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name,auto_status
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,26.0
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320,23.0
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite,26.0
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst,24.0
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino,25.0
...,...,...,...,...,...,...,...,...,...,...
392,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl,31.0
393,44.0,4,97.0,52,2130,24.6,82,2,vw pickup,48.0
394,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage,36.0
395,28.0,4,120.0,79,2625,18.6,82,1,ford ranger,32.0
396,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10,35.0

In [35]:
store['name'] = 'ford' ? 'Swize' : ''

SyntaxError: invalid syntax (1041307173.py, line 1)